<section id="slider" data-required-resource="slider">
  <div class="sliderContainer bannerSlider">
      <ul class="bxslider">
              <li class="hdBannerSliderItem" data-mobilesrc="https://rekhtacdn.azureedge.net/Images/Cms/Carousels/5dfb2eba-7c6c-4328-9fe0-7846cb7e8c47/00afed65-5bf9-498a-adfe-41cc84565255_mob.jpg" data-CarouselId="5dfb2eba-7c6c-4328-9fe0-7846cb7e8c47">
                  <a  target="_top"  itemprop="url" routerLink="/ahmadfaraz">
                              <img src="https://rekhtacdn.azureedge.net/Images/Cms/Carousels/5dfb2eba-7c6c-4328-9fe0-7846cb7e8c47/00afed65-5bf9-498a-adfe-41cc84565255.jpg" alt="Famous Urdu Poetry - ahmad faraz" title="" class="lazyload" />
                                                          <div class="slideContentShadow"></div> 
                          <div class="slideContent">
                              
                              <h2 class="f36-tt_light white"></h2>
                          </div>
                  </a>

              </li>
              <li class="hdBannerSliderItem" data-mobilesrc="https://rekhtacdn.azureedge.net/Images/Cms/Carousels/f91ee4cd-93df-43b2-b9e0-479da78726b6/a4902406-d76f-4370-b5aa-7fac596f15d4_mob.jpg" data-CarouselId="f91ee4cd-93df-43b2-b9e0-479da78726b6">
                  <a  target="_top"  itemprop="url" routerLink="/ibneinsha">
                              <img src="https://rekhtacdn.azureedge.net/Images/Cms/Carousels/f91ee4cd-93df-43b2-b9e0-479da78726b6/a4902406-d76f-4370-b5aa-7fac596f15d4.jpg" alt="Top Urdu Shayari - insha" title="" class="lazyload" />
                                                          <div class="slideContentShadow"></div>
                          <div class="slideContent">
                              
                              <h2 class="f36-tt_light white"></h2>
                          </div>
                  </a>

              </li>
             
              <li class="hdBannerSliderItem" data-mobilesrc="https://rekhtacdn.azureedge.net/Images/Cms/Carousels/7d3ab661-b1ef-4469-9e9a-f363968426d9/ef17c17b-0509-41f7-a826-df3b4fe0d81a_mob.jpg" data-CarouselId="7d3ab661-b1ef-4469-9e9a-f363968426d9">
                  <a  target="_top"  itemprop="url" routerLink="/intizarHussain">
                              <img src="https://rekhtacdn.azureedge.net/Images/Cms/Carousels/7d3ab661-b1ef-4469-9e9a-f363968426d9/ef17c17b-0509-41f7-a826-df3b4fe0d81a.jpg" alt="Urdu Poets - intizar h" title="" class="lazyload" />
                                                          <div class="slideContentShadow"></div>
                          <div class="slideContent">
                              
                              <h2 class="f36-tt_light white"></h2>
                          </div>
                  </a>

              

          

          
          
          
      </ul>

  </div>
</section>