<h1 class="has-text-centered" style="font-size: 30; font: bold; color: red; background-color: whitesmoke;">

sab maayā hai, sab Dhaltī phirtī chhāyā hai <br>

  is ishq meñ ham ne jo khoyā jo paayā hai <br>

jo tum ne kahā hai, 'faiz' ne jo farmāyā hai <br>

                sab maayā hai <br>

haañ gaahe gaahe diid kī daulat haath aa.ī  <br>

yā ek vo lazzat naam hai jis kā rusvā.ī <br>

bas is ke sivā to jo bhī savāb kamāyā hai <br>

                sab maayā hai <br>

ik naam to baaqī rahtā hai, gar jaan nahīñ <br>

  jab dekh liyā is saude meñ nuqsān nahīñ <br>

tab sham.a pe dene jaan patiñgā aayā hai <br>

                sab maayā hai <br>

 ma.alūm hameñ sab qais miyāñ kā qissa bhī <br>

sab ek se haiñ, ye rāñjhā bhī ye 'inshā' bhī <br>

farhād bhī jo ik nahr sī khod ke laayā hai <br>

                sab maayā hai <br>

kyuuñ dard ke naame likhte likhte raat karo <br>

jis saat samundar paar kī naar kī baat karo <br>

    us naar se koī ek ne dhokā khāyā hai? <br>  

                sabab maayā hai <br>

jis gorī par ham ek ġhazal har shaam likheñ <br>

 tum jānte ho ham kyūñkar us kā naam likheñ <br>

dil us kī bhī chaukhaT chuum ke vāpas aayā hai <br>

                sab maayā hai <br>

    vo laḌkī bhī jo chāñd-nagar kī raanī thī <br>

      vo jis kī alhaḌ āñkhoñ meñ hairānī thī <br>

     aaj us ne bhī paiġhām yahī bhijvāyā hai <br>

                sab maayā hai <br>

        jo log abhī tak naam vafā kā lete haiñ <br>

        vo jaan ke dhoke khāte, dhoke dete haiñ <br>

        haañ Thok-bajā kar ham ne hukm lagāyā hai <br>

                    sab maayā hai <br>

        jab dekh liyā har shaḳhs yahāñ harjā.ī hai <br>

        is shahr se duur ik kuTiyā ham ne banā.ī hai <br>

           aur us kuTiyā ke māthe par likhvāyā hai <br>     

                        sab maayā hai <br>


</h1>