<br><br><br><br><br>
<div class="has-text-centered" style="font-style: italic;">
    <h1>“Other people's history can be read comfortably, the way a novel can be read comfortably.
        <br>By my own history? I'm on the run from my own history, and catching my breath in the present.
         <br>Escapist. But the merciless present pushes us back again toward our history.
         <br> The mind keeps talking.”
        ― Intizar Husain, Basti</h1>
</div>
<br><br><br>
<div class="has-text-centered" style="font-style:italic">
 <h1>   “They had left their cities, but they carried their cities with them, as a trust, on their shoulders. 
     <br>That's how it usually is. Even when cities are left behind, they don't stay behind. They seize on you<br> even more.
     When the earth slips out from under your feet, that's when <br>it really surrounds you . . . ”
    ― Intizar Husain, Basti
 </h1>
</div>

<br><br><br>

<div class="has-text-centered" style="font-style:italic">
    <h1>“گدھوں اور دانشمندوں کی ایک مثال ہے کہ جہاں سب گدھے ہوجائیں وہاں کوئی گدھا نہیں ہوتا اور جہاں سب دانشمند بن جائیں وہاں کوئی دانشمند نہیں رہتا۔”
        ― Intizar Hussain, Akhri Aadmi / آخری آدمی</h1>
</div>
