<section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
        <div class="container has-text-right">
            <h1 class="title" style="color: rgb(240, 187, 187)">
                Welcome to poetryland, a place where soul finds its peace 
            </h1>
            <h1 class="title has-text-centered" style="font-size: large; font-style: bold; font-weight: 500; color: rgb(240, 187, 187)">
                     Poetry is when an emotion has found its thought <br>
                            and the thought has found words
            </h1>

